body {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    margin: 0;
    letter-spacing: 3px;
}

body,
html {
    height: 100%;
}

p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.background {
    background-image: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00008B;
    height: 100%;
}

.container {
    max-width: 720px;
    margin: 30px auto 0;
    padding-top: 30px;
}

.title {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 5px;
}

.description {
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    text-shadow: 1px 1px 1px #333333;
}