#main {
    background: #eee;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-family: Tahoma, sans-serif;
}

#title {
    font-size: 40px;
}

#img-div {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
}

#img-caption {
    margin-top: 15px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#tribute-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#tribute-info h3 {
    text-align: center;
}

#tribute-info li {
    margin: 15px 0;
}
